#manual h1{
    margin-bottom: 50px;
    border-bottom: 1px solid #e1e4e5;
}
#manual h2,
#manual h3{
    margin: 25px 0;
}
#manual h4,#manual h5{
    margin:15px 0 10px 0;
}
#manual h6{
    margin-top: 15px;
}

.content p.center{
    text-align: center;
}
/* .rst-content .content>p{
    margin: 12px 0 !important;
}
.rst-content .content p{
    margin: 5px 0;
} */
.content>p{
    margin: 12px 0 !important;
}
.content p{
    margin: 5px 0;
}

#manual img[class^="w-"]{
    display:block;
    margin-bottom: 15px;
}


#manual p.center{
    text-align: center;
}

img.w-30{
    width: 30%;
}
img.w-40{
    width: 40%;
}
img.w-50{
    width: 50%;
}
img.w-60{
    width: 60%;
}
img.w-70{
    width: 70%;
}
img.w-80{
    width: 80%;
}
img.w-90{
    width: 90%;
}
img.w-100{
    width: 90%;
}
#manual span.b{
font-weight: bold;
}
#manual span.cap{
    text-transform: uppercase
}

.li-wrapper li{
    list-style: disc;
    margin-left: 24px;
}
.li-wrapper.numeric li{
    list-style: decimal;
    margin-left: 24px;
}

#hot-links{
    display: none;
    position: fixed;
    top: 100px;
    right: 100px;
    padding: 20px;
    border-radius: 10px;
    background-color:#f8f9fa;
}


@media screen and (max-width: 1450px) {
    #hot-links{
        display: none !important;
    }
}
#hot-links a{
    display: block;
    color:#343131;
    text-decoration: underline;
    margin: 5px 0;
}
#hot-links a::before{
    content: "# ";
    font-weight: 900;
    color: rgba(13,110,253,0.5);
}

.content .code-example{
    background: #f8f8f8;
    border: 1px solid #e1e4e5;
    color: #404040;
    font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
    font-size: 16px;
    padding: 12px;
    margin: 20px 0;
}

.alert{
    margin-top:0.5rem;
}

.carousel .carousel-caption h5{
    opacity: 0.6;
    display: inline-block;
    background: rgba(155, 155, 155); /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    padding: 6px 10px;
    border-radius: 3px;
}

.anchor-link {
    padding: 0 0.275rem;
    font-weight: 400;
    color: rgba(13,110,253,0.5);
    text-decoration: none;
    opacity: 1;
    transition: color 0.15s ease-in-out,opacity 0.15s ease-in-out;
}
.anchor-link::after {
    content: "#";
}
.anchor-link:hover{
    color: #0d6efd;
    text-decoration: none;
    opacity: 1;
}
span-x {
    background: #e7f2fa;
    border: 1px solid #7fbbe3;
    font-size: 80%;
    font-weight: 700;
    border-radius: 4px;
    padding: 2.4px 6px;
    margin: auto 2px;
}

span-x.warning {
    border: 1px solid #f0b37e;
    background: #ffedcc;

}
span-x.success {
    border: 1px solid #1abc9c;
    background: #e7faee;
}
span-x.danger {
    border: 1px solid #bc1a1a;
    background: #fae7e7;
}
.news_desc {
    margin-top: 15px;
}
.news_desc p{
    text-align: left;
    font-size: 12px;
    width: 90%;
    margin-bottom: 30px;
}
.news_templates label{
    margin: 0.5rem 0;
}
.news_templates{
    width: 50%;
}
.space-footer{
    margin: 40px 0;
}
.correct i.fa-check-circle{
    color: #1abc9c;
}
.correct i.fa-times{
    color: #bc1a1a;
}
.correct img{
    width: 100%;
}

/* .rst-content .note.success{
    background: #e7f2fa;
}
.rst-content .note.success .admonition-title {
    background: #1abc9c;

}

.rst-content .note.warning{
    background: #ffedcc;
}
.rst-content .note.warning .admonition-title {
    background: #f0b37e;
}


.rst-content .note.danger{
    background: #ffcccc;
}
.rst-content .note.danger .admonition-title {
    background: #f07e7e;
} */
.note.success{
    background: #e7f2fa;
}
.note.success .admonition-title {
    background: #1abc9c;

}

.note.warning{
    background: #ffedcc;
}
.note.warning .admonition-title {
    background: #f0b37e;
}


.note.danger{
    background: #ffcccc;
}
.note.danger .admonition-title {
    background: #f07e7e;
}