#oi-toolbar{
        position: fixed;
        top: 50px;
        left: 50px;
        width: 200px;
        background-color: #e7e6d3;
        z-index: 99000;
        padding: 5px;
        border-radius: 5px;
        border: 2px solid #9e9e94;
        font-size: 15px !important;
    }
    a.__debug{
        border: 2px solid rgb(0, 183, 255) !important;
    }
    form.__debug_no_select{
        border: 2px solid red !important;
    }
    input.__debug_no_tel{
        background-color: red !important;
        /* border: 2px solid red; */
    }

    /* Новая цена */
    .price_land_s4.__debug{
        border: 2px solid blue;
    }
    /* Старая цена цена */
    .price_land_s1.__debug{
        border: 2px solid blue;
    }
    .price_land_curr.__debug{
        border: 2px solid green;
    }
    a img.__debug{
        border: 2px solid green;
    }
    img.__debug.__debug_double{
        border: 3px dashed red !important;
    }

    /* Даты с Бэка */
    span.__debug.__back-date{
        background-color: aquamarine;
    }
    span.__debug.__back-date.__debug_date_error{
        background-color: red;
        font-weight: bold;
    }


    .__debug_script_date{
        background-color: #ccffcb;
        border: 2px dashed #538052;
        display: inline-block;
        color: red;
        font-weight: bold;
    }

    #oi-toolbar .container{
        display: flex
    }
    #oi-toolbar .error-counter{
        width: 40%;
        display: inline-block;
        color: white;
        font-weight: bold;
    }
    #oi-toolbar .marker{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: green;
        /* display: inline-block; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #oi-toolbar .info{
        display: inline-block;
    }
    #oi-toolbar .io-main{
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    #oi-toolbar #back-info img{
        width: 60px;
        height: 60px;
    }
    #oi-toolbar .original-link{
        display: flex;
        align-items: center;
    }
    #oi-toolbar .original-link p{
        color: rgb(52, 147, 224);
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }