{% extends 'vagons/base.html'%}

{%block page-name%}
<style>
    .card .icon{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .card .icon i{
        font-size: 70px;
        color: #2196f3;
    }
    #create-new-cod i{
      color: grey;
    }
    .card .buttons{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .card .buttons a{
      margin: 0 2px;
    }
</style>
<h1>Наличие по клиентам</h1>


{%endblock%}


{%block content%}
 
<div class="container">
    <div class="row row-cols-1 row-cols-md-6 g-2">
        <div class="col">
            <div class="card text-center " style="width: 10rem;" id="create-new-cod">
                <div class="card-header">
                  Создать новый
                  </div>
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="icon">
                    <i class="fa-solid fa-file-circle-plus"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{cliend_doc.name}}</h5>
                  <p class="card-text">{{cliend_doc.description}}</p>
                  <a href="{%url 'vagons:create_client_doc' %}" class="btn btn-success">Создать</a>
                </div>
              </div>
            </div>

        {%for cliend_doc in clients_docs%}
        <div class="col">
        <div class="card h-100 text-center" style="width: 12rem;">
            <div class="card-header">
               {{cliend_doc.document_date}}
              </div>
            <div class="icon">
                <i class="fa-solid fa-file-word"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{cliend_doc.name}}</h5>
              <p class="card-text">{{cliend_doc.description}}</p>
             <div class="buttons">
              <a href="{%url 'vagons:show_client' cliend_doc.pk %}" class="btn btn-primary">Посмотреть</a>
              {%if cliend_doc.document_file%}
              <a href="{{cliend_doc.document_file.url}}" class="btn btn-primary"><i class="fa-solid fa-file-export"></i></a>
              {%endif%}
             </div>
            </div>
          </div>
        </div>
        {%endfor%}
    </div>
</div>



{%endblock%}