{% extends 'office/base.html' %}
{% load static %}
{% block content %}
<title>{{ page_title }}</title>
<div class="main-wrapper">
    <table class="table" id="domains-table">
        <thead class="table-dark">
            <tr>
                <th></th>
                <th>Кол-во</th>
                <th>Name</th>
                <th>Сайт</th>
                <th>Описание</th>
                <th>FaceBook</th>
                <th>Google</th>
                <th>TikTok</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for domain in domains %}
            <tr id="{{domain.id}}" data-domain-id="{{domain.id}}" class="table-light">
                <td class="oc-subs">
                    {% if domain.subdomain_set.all %}
                    <i class="fas fa-arrow-circle-right"></i>
                    {% endif %}
                </td>
                <td>{{domain.subdomain_set.count}}</td>
                <td>{{ domain.name }}</td>
                <td>{{ domain.site|default_if_none:"" }}</td>
                <td class="description">{{ domain.description }}</td>
                <td class="domain-status">
                    <button type="button" class="btn btn-{{ domain.get_html_facebook }}">{{ domain.facebook }}</button>
                </td>
                <td class="domain-status">
                    <button type="button" class="btn btn-{{ domain.get_html_google }}">{{ domain.google }}</button>
                </td>
                <td class="domain-status">
                    <button type="button" class="btn btn-{{ domain.get_html_tiktok }}">{{ domain.tiktok }}</button>
                </td>
                <th>
                    <div class="dropdown">
                        <button type="button" class="btn btn-light dropdown-toggle icon-block"  data-bs-toggle="dropdown" data-bs-target="#exampleModal">
                            <i class="fas fa-cogs "></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/admin/office/domain/{{domain.id}}/change/" target="_blank">Редактировать</a></li>
                          </ul>
                        </div>
                </th>
            </tr>
            {% for sub_dom in domain.subdomain_set.all %}
            <tr id="{{sub_dom.id}}" style="display:none;" data-subdom-id="{{sub_dom.id}}" data-root-id="{{domain.id}}">
                <td class="oc-subs"></td>
                <td>---</td>
                <td>{{ sub_dom.name }}</td>
                <td>{{ sub_dom.site|default_if_none:"" }}</td>
                <td class="description">{{ sub_dom.description }}</td>
                <td class="domain-status">
                    <button type="button" class="btn btn-{{ sub_dom.get_html_facebook }}">{{ sub_dom.facebook}}</button>
                </td>
                <td class="domain-status">
                    <button type="button" class="btn btn-{{ sub_dom.get_html_google }}">{{ sub_dom.google }}</button>
                </td>
                <td class="domain-status">
                    <button type="button" class="btn btn-{{ sub_dom.get_html_tiktok }}">{{ sub_dom.tiktok }}</button>
                </td>
                <th>
                    <div class="dropdown">
                        <button type="button" class="btn btn-light dropdown-toggle icon-block"  data-bs-toggle="dropdown" data-bs-target="#exampleModal">
                            <i class="fas fa-cogs "></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/admin/office/domain/{{sub_dom.id}}/change/" target="_blank">Редактировать</a></li>
                          </ul>
                        </div>
                </th>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    csrfmiddlewaretoken = '{{ csrf_token }}'
    $('.oc-subs').click(function () {
        domId = $(this).parent().attr('data-domain-id')
        subs = $("tr[data-root-id='" + domId + "']")
        console.log(domId)
        console.log(subs.length)
        subs.slideToggle(50)
    })

    URL = 'api/'
    URL_DOM_DESC = 'api/change_domain_desc/'
    // замена текста на input
    $('body').on('click', 'td[class=description]', function () {
        //    var input = $('<input id="now" type="text">')
        var input = $('<textarea id="now" type="text"></textarea>')
        var text = $(this).text()
        input.val(text)
        $(this).wrap('<div>')
        $(this).after(input)

        var current_p = $(this)
        current_p.hide()
        input.focus()
        // при изменение интута

        var parrent = $(this).parent()
        $(parrent).on('change', '#now', function () {


            var result = $(this).val()
            current_p.text(result)
            current_p.show()
            $(this).remove()
            var id_of = current_p.closest('tr').attr('id')
            console.log(current_p.closest('tr').attr('id'))
            console.log(result)
            //    console.log(current_p.parentsUntil('table'))
            //    changeDomainText(current_p.attr('id'), result)
            changeDomainText(id_of, result)

        }
        )
        // когда нет изменений
        $(parrent).on('blur', '#now', function () {
            console.log('unfocus')
            current_p.show()
            $(this).remove()

        })

    })
    function changeDomainText(id, result) {
        csrfmiddlewaretoken = '{{ csrf_token }}'
        $.post(URL_DOM_DESC + id + '/',
            { 'description': result, 'csrfmiddlewaretoken': csrfmiddlewaretoken, },
            //  {'description':result,'csrfmiddlewaretoken': csrfmiddlewaretoken, },
            function (data) {
                // $('#news').html(data);
                console.log('Good send to DB')
            });
    }

</script>

{% endblock %}