{% extends 'office/base.html' %}
{% block content %}
<title>{{page_title}}</title>
<h1>Offers</h1>
<div class="main-wrapper">
    <table class="table">
    <thead>
<tr>
      <th scope="col">ID KT</th>
      <th scope="col">Name</th>
    <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
     {% for offer in offers %}
    <tr>
        <td scope="row">[{{offer.kt_id}}]</td>
        <td scope="row"><a href="http://45.32.144.228/{{offer.kt_data.local_path}}" target="_blank">{{offer.kt_data.name}}</a> </td>

        <td scope="row">
             <div class="btn-group dropend">
                        <a class="btn btn-primary {{ offer.get_status_html }}"
                    href="{% url 'office:checker_offer' offer.kt_id 0 %}" role="button">{{ offer.check_status }}</a>
                    {% if offer.check_data and offer.check_data.main.result_code != 'good' %}
                        <button type="button" class="btn {{ offer.get_status_html }} dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
                  <table class="table dropdown-menu" style="font-size: 13px; padding: 0;">
                                    <!-- <thead class="table-light">
                                    <tr>
                                        <th>Name</th>
                                        <th>Code</th>
                                    </tr>
                                    </thead> -->
                                    <tbody>
                                    {% for checker in offer.check_data.checkers %}
                                    {% if checker.result_code != 'good' %}
                                    <tr >
                                        <td>{{ checker.name }}</td>
                                        <td class="mb-2 bg-{{ checker.status_html }}">
                                            {{ checker.status_text }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                        {% endif %}
                      </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>

</table>
</div>
{% endblock %}